/* CSS-Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

/**********/

/* Layout */

.website-layout {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar main-content";
    grid-template-columns: max-content 1fr;
    background-image: url(./img/background.jpg);
    background-size: 100%;
}

/* Header */

.header {
    grid-area: header;
    position: sticky;
    top: 0px;
    height: 12vh;
    display: grid;
    align-items: center;
    justify-items: center;
    color: #ffffff;
    background-color: rgba(255, 145, 0, 0.9);
    text-shadow: 0px 0px 5px black;
}

.logo {
    font-size: 5rem;
}

/* Sidebar */

.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 12vh;
    padding: 50px;
    height: 88vh;
    color: #ffffff;
    display: grid;
    gap: 60px;
    grid-auto-rows: max-content;
}

.sidebar h2 {
    font-size: 2.5rem;
    text-shadow: 0px 0px 10px black;
}

.sidebar .placeholder {
    font-size: 1.5rem;
    text-shadow: 0px 0px 10px black;
    margin-left: 20px;
}

.sidebar #toggle-form {
    justify-self: center;
}

#toggle-form {
    width: 75%;
    font-size: 1.3rem;
    padding: 5px 30px;
    font-weight: bold;
    border-radius: 1.3rem;
    border: 1px solid black;
    background-color: rgb(255, 145, 0);
    display: flex;
    justify-content: center;
    gap: 10px;
}

#toggle-form:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#toggle-form svg {
    height: 1.7rem;
    width: 1.7rem;
}

.new-book {
    background-color:  rgba(136, 114, 81, 0.9);
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new-book .textinput {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-start: span 2;
    justify-items: end;
    column-gap: 15px;
    row-gap: 8px;
    padding: 10px;
}

.new-book .question {
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-column-start: span 2;
    grid-template-columns: max-content 1fr;
    align-items: center;
    justify-items: center;
}

.question input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.new-book .submit {
    display: flex;
    justify-content: center;
}

.new-book button[type="submit"] {
    font-size: 1rem;
    padding: 5px 30px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(37, 209, 60);
}

.new-book button[type="submit"]:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

/* Main-content */

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-auto-rows: 420px;
    gap: 30px;
    padding: 50px;
}

/* Books */

.book {
    padding: 50px 20px 20px 20px;
    background-color: rgba(136, 114, 81);
    border-radius: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0);
    border-left: 20px solid rgba(88, 65, 31, 0.658);
    position: relative;
    display: grid;
    grid-template-rows: 40%;
    gap: 10px;
    grid-auto-rows: 1fr;
    align-items: center;
    color: white;
    text-align: center;
    justify-items: center;
    pointer-events: none;
}

.book:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: -22px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.not-read:after {
    pointer-events: all;
    cursor: pointer;
    content: "Not read yet";
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 0px;
    width: 100px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(83, 175, 21);
    font-size: 0.9rem;
    border: 1px solid white;
    border-right: none;
}

.read {
    background-color: rgba(90, 75, 53, 0.904);
    color: hsl(0, 0%, 70%);
    position: relative;
}

.read:after {
    pointer-events: all;
    cursor: pointer;
    content: "Already read";
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 0px;
    width: 100px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(2, 141, 255);
    font-size: 0.9rem;
    border: 1px solid white;
    border-right: none;
}

.title {
    font-size: 2rem;
}

.author {
    font-size: 1.3rem;
}

.pages {
    font-size: 0.8rem;
}

.delete-button {
    font-size: 1.2rem;
    padding: 5px 30px;
    font-weight: bold;
    border-radius: 1.2rem;
    border: 1px solid black;
    background-color: rgb(240, 40, 40);
    width: max-content;
    pointer-events: all;
}

.delete-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

dialog {
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 50px;
    max-width: 25%;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

dialog form {
    margin-top: 40px;
    text-align: center;
}

dialog button {
    font-size: 1.2rem;
    padding: 5px 30px;
    font-weight: bold;
    border-radius: 1.2rem;
    border: 1px solid black;
    margin: 10px;
    min-width: 150px;
}

dialog button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.cancel {
    background-color: rgb(255, 145, 0);
}

.continue {
    background-color: rgb(240, 40, 40);
}

.dim {
    filter: brightness(0.3);
}