/* CSS-Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

/**********/

/* Layout */

.website-layout {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar main-content";
    grid-template-columns: max-content 1fr;
    background-image: url(./img/background.jpg);
    background-size: 100%;
}

/* Header */

.header {
    grid-area: header;
    position: sticky;
    top: 0px;
    height: 12vh;
    display: grid;
    align-items: center;
    justify-items: center;
    color: #ffffff;
    background-color: rgba(255, 145, 0, 0.9);
    text-shadow: 0px 0px 5px black;
}

.logo {
    font-size: 5rem;
}

/* Sidebar */

.sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 12vh;
    padding: 50px;
    height: 88vh;
    color: #ffffff;
    display: grid;
    gap: 60px;
    grid-auto-rows: max-content;
}

.sidebar h2 {
    font-size: 2.5rem;
    text-shadow: 0px 0px 10px black;
}

.sidebar .placeholder {
    font-size: 1.5rem;
    text-shadow: 0px 0px 10px black;
    margin-left: 20px;
}

.sidebar .sidebar-button {
    justify-self: center;
}

.sidebar-button button {
    font-size: 1.3rem;
    padding: 5px 30px;
    font-weight: bold;
    border-radius: 1.2rem;
    border: 1px solid black;
    background-color: rgb(39, 223, 63);
    display: flex;
    align-items: center;
    gap: 10px
}

.sidebar-button button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.sidebar-button svg {
    height: 1.7rem;
    width: 1.7rem;
}

/* Main-content */

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-auto-rows: 420px;
    gap: 30px;
    padding: 50px;
}

/* Books */

.book {
    padding: 50px 20px 20px 20px;
    background-color: rgba(136, 114, 81);
    border-radius: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0);
    border-left: 20px solid rgba(88, 65, 31, 0.658);
    position: relative;
    display: grid;
    grid-template-rows: 40%;
    gap: 10px;
    grid-auto-rows: 1fr;
    align-items: center;
    color: white;
    text-align: center;
}

.book:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: -22px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 2rem;
}

.author {
    font-size: 1.3rem;
}

.pages {
    font-size: 0.8rem;
}

.delete-button button {
    font-size: 1.2rem;
    padding: 5px 30px;
    font-weight: bold;
    border-radius: 1.2rem;
    border: 1px solid black;
    background-color: rgb(240, 40, 40);
}

.delete-button button:hover {
    transform: scale(1.1);
    cursor: pointer;
}